body {
  padding: 0px;
  margin: 0px;

    background-image: url("START WEB Page.jpg");
    background-repeat: no-repeat;
    background-size: 100%
      
}

div, a, p, {
  font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
  margin: 0px;
}



.content {
  width: 100%;
  margin: 0px auto;
}

.centered {
  width: 960px;
  margin: inherit;
}

.thumbnail {
  width: 160px;
  height: 160px;
  background-color: #ddd;
  margin: 16px;
  float: left;
  cursor: pointer;
}

.text {
  color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.menu {
  background-image: "START WEB Page.jpg";
  width:cover;
  margin-bottom: 0;
}

.a href {
    width: 10%
  color: #030303;
  margin-top: 600;
  margin-left: 20px;
  text-align: left;
    font-family: Arial, Helvetica, sans-serif
}
.links {
  width: 100px;
  float: left;
  color: #030303;
  margin-top: 620px;
  margin-left: 2px;
  text-align: right;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size-adjust:auto;
    font-size: 150%

    
    
}

.links:hover {
  color: #eb2329;
}

.table {
    width: 100%;
    float: left;
    mar
    
        
}